.fundologin {
    background: url("https://ik.imagekit.io/andrenas95/blog_pessoal/bd-dark.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }